@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--dark);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --light-dark: rgb(201,192,187);
    --middle-dark:  #a5a7aa;
    --white-title: rgb(248, 246, 246);
    --red-error: rgb(173, 32, 32);
    --dark: #282c34;
}

/* HEADER AREA */

.header{
    background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
    height: 9vh;
    font-size: 0.8rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__article {
    margin-left: auto;
    display: flex;
    margin-right: 1vh;
}

.header__form {
    display: flex;
    align-items: center;
}

.header__form-input {
    height: 3.5vh;
    width: 28vh;
    font-size: 1.4rem;
    border-radius: 5px;
    border: none;
    padding: 0 2vw;
    margin-left: 2vw;
    margin-right: -3vw;
}

.header__button {
    height: 9vh;
    width: 9vh;
    min-height: 44px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

#currantUser {
    margin-right: 3vh;
}

.header__button-user {
    height: 9vh;
    width: 15vh;
    background-color: transparent;
    min-height: 44px;
    border: none;
    cursor: pointer;
    outline: none;
}

.header__button:hover {
    filter: opacity(0.6);
}

.section__button {
    height: 5vh;
    width: auto;
    min-height: 60px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: var(--dark);
    font-size: 1.1rem;
    padding: 30px;
}

.header__button-h1 {
    font-size: 1.6rem;
}

/* Grid CSS */

body {
    /* background-color: #282c34; */
    font-size: 3rem;
}

.section__article-figure {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__article-figure:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.section__article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;
}

/* Aside icon bar */

.aside {
    height: 100vh;
    width: 10vh;
    background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 9vh;
    padding-top: 6vh;
    overflow-x: hidden;
}

.aside__button {
    height: 9vh;
    width: 9vh;
    min-height: 44px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
}

.aside__button:hover {
    filter: opacity(0.9);
    border-radius: 5px;
}

.aside__div {
    display: flex;
    margin: 0 3px;
}

.aside__div:hover {
    background-color: var(--middle-dark);
    filter: opacity(0.9);
    border-radius: 5px;
}

.aside__div-button-h1 {
    text-align: left;
    font-size: 1.4rem;
}

.hidden {
    display: none;
}

.open {
    width: 25vh;
    text-align: left;
}

.hr {
    color: var(--dark);
}

/* Modal Log In form */

.modal {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding-top: 5rem;
}

.modal__form {
    background-color: #fefefe;
    margin: 5vh auto 15vh auto;
    border: 1px solid #888;
    width: 80vw;
    max-width: 35rem;
    border-radius: 5px;
}

.modal__form-div {
    padding: 2vh;
    margin-bottom: 3.5vh;
}

.modal__form-div-h2 {
    font-size: 2rem;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 2.5rem;
}

.modal__form-div-label {
    margin-top: 2vh;
    font-size: 1.8rem;
}

.modal__form-div-input {
    width: 100%;
    padding: 1vh;
    font-size: 1.6rem;
    border: none;
    display: inline-block;
    background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
    border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

.invalid-input {
    width: 100%;
    padding: 1vh;
    position: relative;
    top: -1vh;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--red-error);
    text-align: center;
    border: none;
    background-color: transparent;
}

.btn {
    background-color: transparent;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
}

.btn:hover {
    background-color:  var(--middle-dark);
    opacity:1;
}

.cancelbtn {
    float: left;
    width: 45%;
}

.loginbtn {
    float: right;
    width: 45%;
}

.clearfix {
    position: relative;
    top: 3vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Media Queries */

@media (min-width: 600px) {
    .header{
        height: 12vh;
    }

    .header__button {
        height: 13vh;
        width: 13vh;
    }

    .aside {
        width: 13vh;
        margin-top: 12vh;
    }

    .section {
        margin-left: 13vh;
    }

    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }

    .title {
        width: 22vh;
    }

    .header__button-h1 {
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .header__button-user {
        height: 13vh;
        width: 15vh;
    }

    .header__button-user:hover {
        filter: opacity(0.6);
    }

    .header__form-input {
        height: 3.5vh;
        width: 35vh;
        font-size: 1.5rem;
        margin-right: 0.5vw;
    }

    .open {
        width: 39vh;
        text-align: left;
    }

    .aside__button {
        width: 13vh;
        height: 13vh;
    }

    .aside__div-button-h1 {
        text-align: left;
        font-size: 1.6rem;
    }
}

@media (min-width: 1000px) {
    .section {
        margin-left: 39vh;
    }

    .title {
        margin-left: 3vh;
        width: 32vh;
        font-weight: 800;
    }

    .header__button-h1 {
        font-size: 1.8rem;
    }

    .header__form-input {
        height: 5vh;
        width: 50vh;
        font-size: 1.5rem;
    }
}
